[TYPECHECK]
ignored-modules	= numpy, scipy, torch, netCDF4

[MESSAGES CONTROL]
disable =
  missing-module-docstring,
  missing-class-docstring,
  missing-function-docstring,
  invalid-name,
  logging-fstring-interpolation,
  too-many-locals,
  too-many-instance-attributes,
  too-many-arguments

[format]
max-line-length = 100

[MASTER]
ignore-paths=^voodoonet/tests/.*$,
